@mixin buttonColors ($text-color, $bg-color, $border-style...) {
    color: $text-color;
    background-color: $bg-color;
    border: $border-style;
}

@mixin font-style($fam, $size, $color: black) {
    font : {
        family: $fam;
        size: $size; 
        color: $color; 
    }
}

@mixin status-style($color) {
    position: relative; 
    left: 35px; 
    white-space: nowrap; 
    margin: 0; 
    &:before {
        content: ""; 
        position: absolute; 
        background-color: $color; 
        width: 8px; 
        height: 8px; 
        border-radius: 360px; 
        box-shadow: 0 0 10px $color,
                    0 0 3px #000000;
        left: -16px; 
        top: 3px; 
    }
}