#popupContainer {
    width: 500px; 
    height: 200px; 
    span {
        display: block; 
        width: 20px; 
        height: 20px; 
    }
    .prof { 
        @include status-style(red); 
    }
}

.active {
    @include status-style(rgb(0, 208, 0)); 
}

.inactive {
    @include status-style(#FF0000); 
}