#container {
    width: 200px; 
    height: 200px; 
    span {
        display: block; 
        width: 20px; 
        height: 20px; 
        .prof {
            position: absolute; 
            left: 50px; 
            &:before {
                content: ""; 
                position: absolute; 
                background-color: red; 
                width: 8px; 
                height: 8px; 
                border-radius: 360px; 
                box-shadow: 0 0 10px #FF0000,
                            0 0 2px #000000;
                left: -16px; 
                top: 3px; 
            }
        }
    }
}

.active {
    background-color: rgb(0, 208, 0); 
    box-shadow: 0 0 10px rgb(0, 208, 0),
                0 0 2px #000000;
}

.inactive {
    background-color: red; 
    box-shadow: 0 0 10px #FF0000,
                0 0 2px #000000;
}