#profiles {
    margin-top: 1em; 
    display: flex; 
    flex-flow: row wrap; 
    justify-content: flex-start; 
    .profile {
        background-color: rgb(133, 255, 133); 
        padding: 1em; 
        margin: 0.5em; 
        font-size: 15px; 
    }
}